# Ignorer les fichiers et dossiers de l'environnement virtuel
venv/

# Ignorer les fichiers de configuration spécifique à l'éditeur
.vscode/
.idea/

# Ignorer les fichiers générés par le système
*.log
*.pyc
__pycache__/

# Ignorer les fichiers sensibles
.env