html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li .welcome-message {
    color: #6bef42;
    font-weight: bold;
    margin-left: 1rem;
}

main {
    flex: 1;
}

.description {
    background: url('/static/images/Bienvenue.jpg') no-repeat center center/cover;
    color: white;
    padding: 5rem 2rem;
    text-align: center;
}

.description h1{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.description p {
    width: 28%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 1rem auto 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
}

.JODescription {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.JODescription p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.evenements {
    padding: 2rem;
    background: #f9f9f9;
}

.cartes-evenements {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.carte {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 2rem);
}

.carousel-inner {
    max-width: 70%;
    margin: 0 auto;
}

.carte img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
}

.carousel-caption h3 {
    color: #000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption p {
    color: #000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}



footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
}